@tailwind base;

@tailwind components;

@tailwind utilities;

@layer base {
	html,
	body {
		@apply text-blue-700 bg-white-200;
		// needed to fix the overflow issue when translating offscreen elements in manual keyframe animations
		height: 100%;
		overflow-x: hidden;
	}
}

@layer components {
	.button-primary {
		@apply bg-pink-700 hover:bg-pink-400  hover:border-pink-400  disabled:bg-opacity-50 text-white-100 text-md font-bold py-4 px-6 rounded-full leading-none transition-all;
	}

	.button-light {
		@apply bg-white-200 hover:bg-blue-700 border-2 border-blue-700 text-blue-700 hover:text-white-100 text-md font-bold py-4 px-6 rounded-full leading-none disabled:border-opacity-50 disabled:text-opacity-50 transition-all;
	}

	.button-dark {
		@apply bg-blue-900 hover:bg-white-100 border-2 border-white-100 text-white-100 hover:text-blue-900 text-md font-bold py-4 px-8 rounded-full leading-none disabled:border-opacity-50 disabled:text-opacity-50 transition-all;
	}

	.text-input {
		@apply w-full bg-white-200 border-b border-blue-500 pb-4 px-4 focus:outline-none focus:border-blue-700 focus:border-b-2 text-md text-blue-700 transition-all;
	}
}

@layer utilities {
	.input-error {
		@apply border-red-500 text-red-500 placeholder-red-500 focus:border-red-500;
	}
	// typography
	.text {
		@apply text-md leading-loose;
	}
	//layout
	.content-container {
		@apply mx-6 md:mx-10  xl:max-w-screen-xl xl:mx-auto;
	}
	.pinkCheckBefore {
		&::before {
			content: '';
			background-image: url('../public/shared/desktop/icon-check.svg');
			background-repeat: no-repeat;
			position: absolute;
			@apply h-4 w-4 transform -translate-x-8 translate-y-1;
		}
	}

	.grey-y-border {
		@apply border-b border-t border-grey-400 border-opacity-25;
	}
	.team-background-image {
		background-image: url('/about/mobile/image-team-members.jpg');
		height: 300px;
		background-size: cover;
		background-position: center;
		@media (min-width: 768px) {
			background-image: url('/about/tablet/image-team-members.jpg');
			height: 267px;
		}
		@media (min-width: 1110px) {
			background-image: url('/about/desktop/image-team-members.jpg');
			height: 500px;
		}
	}
}

// Checkbox related styles

input:checked + div {
	@apply bg-pink-700;
}

input:disabled + div {
	@apply bg-grey-200;
}

input:checked + div svg {
	@apply block;
}

@keyframes slidein {
	from {
		transform: translateX(110%);
	}
	to {
		transform: translateX(0%);
	}
}

@keyframes slideout {
	from {
		transform: translateX(0%);
	}
	to {
		transform: translateX(110%);
	}
}

.slideIn {
	animation: slidein;
	animation-duration: 1s;
}

.slideOut {
	animation: slideout;
	animation-duration: 1s;
}
